:not(input) {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.about {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  background-color: white;
  height: 100vh;
  transform-origin: 0% 0%;
  position: relative;
}

.about__body {
  background-color: #ededed;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* position: relative; */
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgrey;
}

.loader__container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .MuiCircularProgress-svg {
  transform: scale(2.5);
}

@media (max-width: 760px) {
  .about__body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0;
    background-color: white;
    border-top: none;
  }
}

.about__container {
  padding: 50px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75vw;
  max-height: 50vh;
  opacity: 0.7;
}

.about__title {
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .about__container {
    padding: 100px 50px;
  }
}

@media (max-width: 435px) {
  .about__container {
    padding: 50px 25px;
  }
}
