.app {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  background-color: white;
  height: 100vh;
  transform-origin: 0% 0%;
  position: relative;
}

.login {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 50px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75vw;
  opacity: 0.7;
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  text-transform: inherit !important;
  background-color: #800080 !important;
  color: white;
  margin-top: 50px;
}

@media (max-width: 760px) {
  .login__container {
    padding: 100px 50px;
  }
  .login__text > h3 {
    font-size: 28px;
    width: 100%;
  }
}

@media (max-width: 435px) {
  .login__container {
    padding: 50px 25px;
  }
}
